body{
    
    margin:0;
}

.container{
    margin: 0 200px;
}

main{
    background-color: rgba(253, 253, 253, 0.897);
}


header{
    background-color: #f4e3e9;
      
}

.header-line{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4e3e9;
   
}

.header-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    color:#686767;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 0%;
    margin-right: 40px;
    transition: color 0.4s linear, font-style 0.4s linear, font-size 0.4s linear;

}

.nav-item:hover{
    color:#D23166;
    font-size: 15px;
    font-weight: 700;
    
}

.button{
    background-color: #D23166;
    color:#FAFAFA;
    text-decoration: none;
    padding: 10px 50px;
    box-sizing: border-box;
    border: 1px solid #686767;
    border-radius: 5px;
    font-family: "Hind Madurai", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    transition:  color 0.4s linear, background-color 0.4s linear;

}



.button:hover{
    background-color:#f1c9d7;
    color: #D23166;
    
}




.header-down{
    position: relative;
    padding-bottom:30px;
}
.header-title{
    color:#0F0101;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: left;
    
   
}

.header-suptitle{
    color:#0F0101;
    font-family: "Fredoka", sans-serif;
    font-size: 57.33px;
    font-weight: 400;
    line-height: 120.5%;
    letter-spacing: 0%;
}

.header-subtitle{
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    color:#686767;
    margin-top:35px;
}

.header-suptitle span{
    color:#D23166;
}

.header-btm{
    margin-top: 50px;
}




.header-holder{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ice{
    position: absolute;
    right:10px;
    top:-30px;
    z-index: 5;
    
}





.shadow{
    position: absolute;
    right:80px;
    top:580px;
    z-index: 2;
}

.card{
    border-radius: 7px;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
    background: rgb(255, 255, 255);
    padding: 20px 26px;
    margin-right:39px;
    text-align: center;
    margin-top: 100px;
    border: 2px solid rgba(0, 0, 0, 0.03);
    transition: background-color 0.4s linear, transform 0.4s linear;
}


.card:hover {
    background-color: #f4e3e9;
    transform: scale(1.05);
    
}

.card-holder{
    display:flex;
    justify-content: space-between;
}

.card-image{
    display:flex;
    justify-content: center;
}

.card-title{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top:24.65px;
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.card-desc{
    font-family: "Hind Madurai", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
   text-align: center;
   color:#686767;

}

.details{
    margin-top:100px;
    background-color: #f4e3e9;
   

}

.details-title{
    color: rgb(21, 1, 1);
    font-family: "Hind Madurai", sans-serif;
    font-size: 44.2px;
    font-weight: 600;
    line-height: 61px;
    text-align: left;
    width: 349px;
    margin-top: -20px;
}

.details-desc{
    color:#686767;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width:442px;
    margin-top: 16px;
}

.details-ice{
    margin-right:65px;
}

.details-btm{
    margin-top: 35px;
}

.details-flex{
    display:flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 40px;
    
}

.products-title{
    text-align: center;
    color: rgb(21, 1, 1);
    font-family: "Hind Madurai", sans-serif;
    font-size: 44.2px;
    font-weight: 600;
    line-height: 61px;
    padding-top: 110px;
}

.product-item{
    color:#686767;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    transition: color 0.3s, font-style 0.4s linear, font-size 0.4s linear;
    position:relative;
}

.product-item:hover {
    color:#0F0101;
    font-weight: 600;
    font-size: 19px;

}


.product-item:before{
    content:'';
    background-color: #D23166;
    width: 100%;
    height:3px;
    position: absolute;
    bottom: -5px;
    left:0;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.product-item:hover:before{
    transform: scaleX(1);
    transition: transform 0.4s;
}


.products-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;

}

.desc-ice{
    max-width: 454px;
    margin-top: 40px;
    text-align: left;
    
}


.desc-ice-right{
    max-width: 454px;
    margin-top: 40px;
    text-align:right;
}



.title-product{
    color: rgb(0, 0, 0);
    font-family: "Hind Madurai", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.desc-product{
    margin-top:16px;
    color: #686767;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.costs{
    display:flex;
    margin-top:25px;
    align-items: center;
}

.now-cost{
    color: rgb(0, 0, 0);
    font-family: "Hind Madurai", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin-right:10px;
}

.old-cost{
    color: #686767;
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-decoration-line: line-through;
}

.costs-right{
    display:flex;
    margin-top:25px;
    align-items: center;
    justify-content: flex-end;
    

}

.products-btm{
    margin-top:16px;
}

.product-rewiew{
    display:flex;
    align-items: center;
   
}

.title-img{
    margin-right: 15px;
}

.order{
    margin-top:100px;
    background-color: #f4e3e9;
    

}

.order-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.download-menu{
    margin-top: 63px;
}

.img-order{
    position: relative;
    margin-right:130px;
    order:-1;
    top:40px;
}

.order-title{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 44.2px;
    font-weight: 600;
    line-height: 52px;
}

.order-desc{
    color: #686767;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1%;
    width:600px;
    margin-top:20px;
    margin-bottom: 30px;
}

.order-items{
    display: flex;
    margin-bottom:19px;
}

.order-item{
    display:flex;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    width:30px;
    height:30px;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
    transition: transform 0.4s;
}

.order-item:hover{
    transform:scale(1.1)
}

.item-desc{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.order-apps{
    display: flex;
    margin-top:40px;
    
}

.download-item{
    margin-right:20px;
    transition: transform 0.4s;
}

.download-item:hover{
    transform:scale(1.1)
}

.question{
   margin:auto;
   width:637px;
   margin-bottom:149px;
   display:block;
}

.question-title{
    margin-top:190px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    max-width:520px; 
    margin-left:40px;
}

.form-question{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

input#question{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    background: rgba(250, 250, 250, 0.703);
    width:630px;
    height:60px;
    padding-left:30px;
    color: #686767;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

input#question:focus{
    outline: none;
    border-color: #727272;
}

input#btm-question{
    background-color: #D23166;
    width:134px;
    box-sizing: border-box;
    border: 1px solid #686767;
    border-radius: 5px;
    color:#FAFAFA;
    font-family: "Hind Madurai", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height:61px;
    transition:  color 0.4s linear, background-color 0.4s linear;

}



input#btm-question:hover{
    background-color:#f1c9d7;
    color: #D23166;
    
}


footer{
    background: rgb(10, 8, 8);
    
}

.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    padding-right:35px;
}

.footer-logo{
    padding-top: 30px;
}
.footer-desc{
    margin-top: 10px;
    color:#b5b5b5;
    font-family: "Roboto", sans-serif;
    width:205px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
}

.footer-follow{
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.flex-footer{
    margin-top: 8px;
    display: flex;
}

.flex-apps{
    margin-top: 15px;
    display: flex;
}

.footer-apps{
    margin-right: 10px;
    margin-bottom: 15px;
    transition: transform 0.4s;
}

.footer-apps:hover{
    transform:scale(1.3)
}

.footer-menu-title{
    color: rgb(255, 255, 255);
font-family: "Roboto", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;

}

li{
    text-decoration: none;
list-style-type: none;

}

.footer-item-list{
    padding-top:90px;
    padding-right:100px;
}

.footer-menu-link{
    color: #b5b5b5;
font-family: "Roboto", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-decoration: none;
transition: color 0.4s linear, font-style 0.4s linear;

}

.footer-menu-link:hover{
    color:#D23166;
    font-weight: 500;
    
}

li{
    margin-top:8px;
}

.footer-news{
    color: rgb(255, 255, 255);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
}

input#email{
    border-radius: 5px;
    border: 2px solid #D23166;
    background: rgb(10, 8, 8);
    width:300px;
    height:55px;
    padding-left:30px;
    color: #686767;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

input#email:focus{
    outline: none;
    border-color: #727272;
    color:#D23166;
}

input#btm-email{
    background-color: #D23166;
    width:125px;
    box-sizing: border-box;
    border: 1px solid #686767;
    border-radius: 5px;
    color:#FAFAFA;
    font-family: "Hind Madurai", sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition:  color 0.4s linear, background-color 0.4s linear;

}



input#btm-email:hover{
    background-color:#f1c9d7;
    color: #D23166;
    
}


.form-email{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}


.footer-item-subscribe{
    padding-top:60px;
}

.img-product-right{
    order: 1;
}


.burger-menu{
    display: none;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
}



@media (max-width: 1400px){

   
   .desc-ice, .desc-ice-right{
    margin-left: auto;
    margin-right:auto;
    display:block
   }

   .container{
    margin: 0 60px;
}

    .details-desc{
       width:400px;
    }

    .order-desc{
        width:400px;
    }

    .footer-items{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       
    }

    
   
    .footer-item-list{
        padding-top: 30px;
    }

    .footer-item-subscribe{
        padding-top:0px;
    }

    .img-product{
        margin-right: 40px;
    }

    .img-product-right{
        margin-left: 40px;
    }
}


@media (max-width: 960px){
    .container{
        margin:0 40px;
    }


    .img-product, .img-product-right{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }



    .product{
        display: block;

    }

    nav, .btn{
        display: none;
    }

    .header-down{
       margin-top: 20px;
    }


    .header-ice, .details-ice{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 40px;
    }



    .header-holder, .burger-menu, .card-holder,  .details-flex, .order-flex{
        display: block;
    }



    .header-title, .header-subtitle, .header-suptitle, .details-title, .details-desc, .details-btm, .order-title, .order-desc,.img-order{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

   
    .order-apps{
        justify-content: center;
        align-items: center;
    }

       
    .order-title{
       padding-top: 100px;
    }

     .container-order {
        margin-left: auto;
        margin-right: auto;

        
    }

    .container-order{
        max-width: 250px;
    }

    .product-item{
        margin-right: 20px;
        font-size: 14px;
        text-align: center;
    }

    

   

    
    
}

@media (max-width: 650px){
    .high{
        display: none;
    }

    .header-suptitle{
        font-size: 40px;
    }

    .header-subtitle{
        font-size: 14px;
    }

    .product-item{
        font-size: 12px;
    }

    .desc-product{
        font-size: 14px;
    }
    
    .question-title{
        font-size: 30px;
    }

    .desc-ice{
        max-width: 400px;
    }

    .question{
        max-width: 450px;
    }

    .footer-item-subscribe{
        max-width: 450px;
    }

    input#btm-email {
        max-width: 78px;
    }
    
    input#email {
        max-width: 370px;
    }
    
}





